<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
<header>
<div>
<nav>
<div>
    <center>
{% for i in alphabet %}
<a href="/countries_list/alphabet/{{ forloop.counter0 }}">{{ i }}</a>
{% endfor %}
    </center>
</div>
</nav>
</div>
</header>
    <hr>
<div>
	<div>
		<span><a href="/countries_list/language/"></a></span>
	</div>
    <div>
    {% for country in search %}
        <div>
            <a href="/countries_list/{{ country.id }}">{{ country }}</a>
        </div>
    {% endfor %}
    </div>
    <div>
		<center>
		<nav>
			<ul>
				{% for p in page_obj.paginator.page_range %}
				<a>
					<a href="?page={{ p }}">{{ p }}</a>
				</a>
				{% endfor %}
			</ul>
		</nav>
		</center>
	</div>
</div>
</body>
</html>